<h1>Who likes what:</h1>

<% @appreciations.each do |appreciation| %>
  <%= div_for appreciation do %>
    <%= link_to appreciation.user.name, appreciation.user %> <%= link_to 'likes', appreciation %> <%= link_to appreciation.thing.name, appreciation.thing %>
  <% end %>
<% end %>