<h1>Things. <%= link_to 'New Thing', new_thing_path %></h1>

<table>

<% @things.each do |thing| %>
  <tr>
    <td><%= link_to thing.name, thing %></td>
    <td><%= thing.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thing', new_thing_path %>
