<h1>Here's some things.</h1>

<%= link_to 'New Thing', new_thing_path, :class => 'new-button' %>

<ul class='things list clearfix'>
	<% @things.each do |thing| %>
   		<li><%= link_to thing.name, thing %>
    		<% if thing.description.present? %><div><%= thing.description %></div><% end %> 		
			</li>
	<% end %>
</ul>
<br />

<%= link_to 'New Thing', new_thing_path, :class => 'new-button' %>
