<h1>Here's some things.</h1>

<%= link_to 'New Thing', new_thing_path, :class => 'new-button' %>

<% @things.each do |thing| %>
  <ul class='things-list'>
    <li><%= link_to thing.name, thing %></li>
    <li><%= thing.description %></li>
  </ul>
<% end %>

<br />

<%= link_to 'New Thing', new_thing_path, :class => 'new-button' %>
