<h1>Possessions</h1>

<ul class='things possession'>
<% @possessions.each do |possession| %>
  <%= div_for possession do %>
		<li><%= link_to possession.user.name, possession.user %> <span><%= link_to 'has', possession %></span> <%= link_to possession.thing.name, possession.thing %></li>  
  <% end %>
<% end %>
</ul>