/* palette */
$purple1: #332532;
$purple2: #644D52;
$orange: #F77A52;
$yellow: #FF974F;
$gray: #A49A87;

/* font */
.leckerli {
	font-family: 'Leckerli One', 'Times', cursive;
}
.sans {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

/* structure */
html{ overflow-x: hidden;}
body {
	padding: 1.4em 1em;
	width: 90%;
	text-align: center;
	background-color: lighten($yellow, 33%);
	background-size: 50px;
}
a{ 
	color: $orange;
	text-decoration:none;
	&:hover { 
		text-decoration: underline;
	}
}
header {
	border-bottom: solid 1px $gray;
	margin: 0 auto;
	@extend .clearfix;
	h1 {
		margin: 0.1em auto 0.1em;
		@extend .leckerli;
		color: $purple1;
		line-height: 1em;
		text-shadow: 2px 2px 5px $purple2 + 11;
		a { 
			color : $purple1;
		}
		&:hover {
			cursor: pointer;
		}
	}
	
	nav{
		margin: 0.3em auto 1.4em;
		a {
			@extend .sans;
			color: $orange;
			display: block;
			font-size: 1.4em;
			line-height: 1.6em;
			&:hover { 
				background-color: $orange;
				color: white;
			}
		}
	}
	#account-bar{
		width: 100%;
		margin: 0.3em auto 1em;
		@extend .sans;
		a { 
			@extend .sans;
			font-size: 1.4em;
			line-height: 1.5em;
			padding: 0.1em 0.3em;
			border-radius: 4px;
			&:hover {
				background-color: lighten($yellow, 30%);
			}
		}
	}
}

section{
	@extend .sans;
	h1 {
		font-size: 2em;
		line-height: 2.1em;
	}
	.new-button {
		color: white;
		border-radius: 6px;
		font-size: 1.4em;
		line-height: 1.5em;
		background-color: $yellow;
		padding: 0.2em;
		margin: 0.1em;
		box-shadow: 1px 1px 2px lighten($yellow, 10%);
		&:hover{
			background-color: lighten($yellow, 10%);
			box-shadow: 1px 1px 2px lighten($yellow, 15%);
		}
		&:active{
			background-color: lighten($yellow, 15%);
			box-shadow: 1px 1px 2px lighten($yellow, 20%);
		}
	}
	.things {
		margin: 1em auto;
		@extend .sans;
		font-size: 2em;
		ul { margin: 1em 0;}
		li {
			maring: 0.2em 0;
			a {
				padding: 0.4em;
				color: $purple1;
			}
			span a {font-style: italic; }
		}
	}
	.list { 
		@extend .things;
		a {				
			display: block;
			box-shadow: 1px 1px 2px $purple2;
			&:hover {
				background-color: $purple2;
				color:white;
			}
			&:active {
				box-shadow: 1px 1px 2px $purple2;
			}
		}
	}
	.appreciate { 
		@extend .sans;
		a {
			display: inline;
			font-size: 1em;
			padding: 0;
			margin: 0;
			color: $purple1;
		}
		span a{
			color: lighten($purple2, 15%);
		}
	}
	.possession {
		@extend .appreciate;
	}
	.aspiration {
		@extend .appreciate;
	}
	
	.rollup {
		label { 
			@extend .leckerli;
			font-size: 1.3em;
			line-height: 1.4em;
			color: darken($orange, 10%);
		}
		ul{
			border: solid 1px $gray;
			padding: 0.8em 0.2em;
			border-radius: 6px;
			background-color: lighten($yellow, 30%);
			li { 
				font-size: 1.1em;
				line-height: 1.4em;
			}
		}
	}
			
	h2 {
		font-size: 1.4em;
		line-height: 1.5em;
	}
	
	div#actions{
	margin: 1em 0;
		a, span {

			padding: 0.3em 0.5em;
			font-size: 1.4em;
			margin: 0.1em;
			display: block;
		}
		a {
			background: $yellow;
			color: white;
			box-shadow: 1px 1px 2px lighten($yellow, 15%);
			border-radius: 6px;
			&:hover {
				background: lighten($yellow, 7%);
			}
			&:active {
				background: lighten($yellow, 15%);
			}
		}
		span {text-decoration: underline;}
	}
	form {
		margin: 0.4em;
		label { font-size: 1.2em;}
		input[type='password'],
		input[type='email'],
		input[type='text'] {
			@extend .sans;
			border-radius: 6px;
			padding: 0.3em 0.2em 0.2em;
		}
		div { margin-bottom: 0.5em;}
		input[type='submit']{
			@extend .new-button;
			border: none;
			@extend .sans;
		}	
	}
	form#user_new {
		a { margin: 0.2em 0;}
	}
	.about {
		margin: 0.2em 0 1em;
		label {
			font-size: 1.3em;
		}
		a { 
			font-size: 1.2em;
			line-height: 1em;
			padding: 0;
		}
		span a {}
		ul {
			margin-top: 0.5em;
		}
	}
	
}

footer{
	margin-top: 2em;
	border-top: solid 1px $gray;
	padding-top: 1em;
	p { font-size: 0.6em;}
}

/* mobile version */
@media all and (max-width:45em) {
	header h1 {
		font-size: 4em;
	}
	nav {
		ul {
			width: 90%;
			margin: 0.6em auto 0.4em;
			li a {
				display: block;
				font-size: 1.5em;
				line-height: 1.6em;
				}
		}
	}
	#account-bar{
		a { 
			display: block;
			.logout { font-size: 0.7em;}
		}
	}
	section {
		.things a { border-radius: 6px; }
	}
	footer{
		p { font-size: 0.9em;}
	}
}

@media all and (min-width:45em) and (max-width:65em) {
	header {
		position: relative;
		text-align: right;
		min-height: 6em;
		
		h1 {
			float: left;
			font-size: 3.3em;
			line-height: 1em;
		}
		nav {
			position: absolute;
			top: 0.1em;
			right: 0.1em;
			width: 70%;
				li {
					display: inline;
				}
				a { 
					display: inline;
					padding: 0.2em 0.3em;
					font-size: 1.1em;
					border-radius: 6px;
				}
		}
		#account-bar{
			position: absolute;
			padding: 0.4em;
			top: 2.5em;
			right: 0.2em;
			a { 
				font-size: 1.2em;
				margin: 0.2em;
			}
		}
	}
	section { 
		clear: both;
		text-align: left;
		.list { 
			margin-left: 18%;
			li { border-bottom: solid 1px $gray;}
			a {	
				box-shadow: none;	
				&:hover {	border-radius: none;}
			}
		}
		div#actions{
			display: block;
			text-align: center;
			a, span {
				width: 30%;
				display: inline;
				font-size: 1.3em;
				margin: 0.1em;
			}
		}
		div.rollup {
			padding-left: 50%;
			ul{
			  a, span {
	  			display: block;
				  font-size: 0.9em;
					padding-left: 3em;
				}
			}
		}
		.about{
			li {
				margin: 0.1em 0 0.2em 3em;
				font-size: 2em;
				position: relative;
				a { 
					max-width: 10em;
					font-size: smaller;
					}
				input {
					position: absolute;
					left: 11em;
					z-index: 99;
				}
			}
		}
		form {
			margin: 0.8em auto 0.4em;
			label { font-size: 1.2em;}
			input[type='password'],
			input[type='email'],
			input[type='text'] {
				font-size: 1.3em;
			}
			div { margin-bottom: 1em;}
		}
		
	}
	footer{
		p { font-size: 1em;}
	}
}
@media all and (min-width:65em) {
	body { 
		margin: 0 auto;
		max-width: 1000px;
		text-align: left;
		}
	header {
		with: 100%;
		position: relative;
		min-height: 6em;
		h1 {
			font-size: 5em;
			margin-bottom: 0.5em;
		}
		nav {
				li { display: inline;}
				a { 
					display: inline;
					padding: 0.2em 0.4em;
					font-size: 1.3em;
					border-radius: 6px;
				}
		}
		#account-bar{
			position: absolute;
			top: 0.1em;
			right: 0.1em;
			text-align: right;
			padding: 0.4em;
			a { 
				font-size: 1.2em;
				margin: 0.2em;
			}
		}
	}
	section {
		div#actions{
			display: block;
			text-align: center;
			a, span {
				display: inline;
				font-size: 1.6em;
				margin: 0.1em;
			}
		}
		ul.list {
			width: 100%;
			li { 
				float: left; 
				width: 30%;
				margin: 0.2em;
				@extend .sans;				
			}
			a {	
				display: block;
				text-align: center;

				&:hover {	border-radius: none;}
			}
		}
		div.rollup {
			padding-left: 50%;
			margin: 1.2em 0;
			label{ font-size: 2em;}
			ul{
			  a, span {
	  			display: block;
				  font-size: 0.9em;
					padding-left: 3em;
				}
			}
		}
		.about{
			li {
				margin: 0.1em 0 0.2em 3em;
				font-size: 2em;
				position: relative;
				a { max-width: 10em;}
				input {
					position: absolute;
					left: 11em;
					z-index: 99;
				}
			}
		}
		form {
			margin: 1em auto 0.4em;
			label { font-size: 1.3em;}
			input[type='password'],
			input[type='email'],
			input[type='text'] {
				font-size: 1.4em;
			}
			div { margin-bottom: 1.1em;}
		}
	}
	footer{
		p { font-size: 1em;}
	}
}