/* palette */
$purple1: #332532;
$purple2: #644D52;
$orange: #F77A52;
$yellow: #FF974F;
$gray: #A49A87;

/* font */
.leckerli {
	font-family: 'Leckerli One', 'Times', cursive;
}

/* structure */
body {
	padding: 1em;
	width: 90%;
	background-color : linear-gradient(top, white, $yellow);
		
}
header[rel='main'] {
	
	h1 { 
		@extend .leckerli;
		font-size: 6em;
		color: $purple1;
	}
}


@media all and (min-width: 600px) {}
